<nav class="navbar fixed-top" style="background-color: #97cadb;">
  <a class="text"> <img src="../assets/imagenes/Logi.png" alt="" slot="start" height="40" width="40" class="logo">Drive
    Safe</a>
</nav>
<div> <img src="../assets/imagenes/imple.jpg" alt="" class="de"></div>




<div class="container">
  <div class="container2" >
    <div class="columna"> <img src="../assets/imagenes/imple.jpg" alt="" class="img2"></div>

    <div class="columna"> <h1 class="portada">Al alcance de tus manos, dale dirección a las actividades de tu vehiculo con <div class="sub">DRIVE SAFE</div></h1>

    </div>
</div>
    <div>

    <div class="row2">

      <div class="col3">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">

            <div class="carousel-item active">
              <h1 class="tituloc"> Inteligencia al Volante </h1>
              <p class="parrafos">
                Desde el mantenimiento programado
                hasta el seguimiento en tiempo real, te proporcionamos la inteligencia necesaria para tomar el control
                total de tu vehículo. Simplifica tus tareas diarias y disfruta de un manejo más seguro y eficiente.


              </p>
            </div>
            <div class="carousel-item">
              <h1  class="tituloc">Todo en un Solo Lugar</h1>
              <p class="parrafos">
                Olvídate de confundirte entre diferentes aplicaciones y documentos. Con nuestra app,
                podras centralizar toda la información que necesitas en un solo lugar accesible, todo estara a tu alcance, permitiéndote ahorrar tiempo valioso.

              </p>
            </div>
            <div class="carousel-item">
              <h1  class="tituloc"> Conectividad sin Fronteras </h1>
              <p class="parrafos">
                Rompe las barreras de la distancia y mantén tu vehículo bajo control estés donde estés. Nuestra
                aplicación no depende de internet. La gestión vehicular ahora es tan flexible como tu estilo de vida,
                brindándote tranquilidad y eficiencia en cada viaje.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
