<nav class="navbar fixed-top" style="background-color: #97cadb;">
  <a class="text"> <img src="../assets/imagenes/Logi.png" alt="" slot="start" height="40" width="40"
      class="logo">Drive Safe</a>
</nav>


<div class="container">

  <div class="container2">

  <div class="columna"> <img src="../assets/imagenes/imple.jpg" alt=""></div>

  <div class="columna"><h1> ¿Necesitas gestionar tu vehiculo? Necesitas

    <div class="sub">DRIVE SAFE</div></h1></div>

      <div class="row2">

        <div class="col3">
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
               <p class="d-block w-100" >hola</p>
              </div>
              <div class="carousel-item">
                <p class="d-block w-100" >como estas?</p>
              </div>
              <div class="carousel-item">
                <p class="d-block w-100" >chau</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
