<div class="container">
  <div class="container2">
  <nav class="navbar  fixed-top bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../assets/imagenes/Logo.png" alt="Logo" width="35" height="35"
          class="d-inline-block align-text-top">
        Drive Safe
      </a>
    </div>
  </nav>
</div>

  <div class="row">
    <div class="container text-center">
      <div class="row1">
        <div class="col">
          <img src="../assets/imagenes/imple.jpg" alt="">          
        </div>

        <div class="col">
         
          <h1> Necesitas gestionar tu vehiculo, necesitas DRIVE SAFE</h1>
        </div>
      </div>
    </div>
  </div>
</div>
