.logo{
  margin-bottom: 3px;
  margin-left: 10px;
  margin-right: 10px;
}

.text{
  font-size: 30px;
  font-family: "Segoe UI";
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-decoration-line: none;

}



.columna {
  width: 50%;
  float: left;

}


.container{
  padding-top: 5%;
}

.jo{
  font-size: 33px;
}
h1{
  text-align:left ;
  font-size: 400%;
  font-weight: 500;
  font-family: "Segoe UI" ;
}

.sub{
  text-decoration-line: underline;
  color: #97cadb;
}

.carousel-item{
  margin-top: 5%;
  text-align: center ;
  font-size: 200%;
  font-weight: 400;
  font-family: "Segoe UI" ;
  color: #97cadb;
}
